<div id="wrapper">
  <div id="header" class="navbar-toggleable-md sticky header-md clearfix">
    <!-- TOP NAV -->
    <header id="topNav">
      <div class="container">
        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Logo -->
        <a class="logo float-left scrollTo" href="../../#home">
          <%= image_tag "/images/R2.png" %>
        </a>
        <!-- 
            Top Nav 
            
            AVAILABLE CLASSES:
            submenu-dark = dark sub menu
          -->
        <div class="
              navbar-collapse
              collapse
              float-right
              nav-main-collapse
              submenu-dark
            ">
          <nav class="nav-main">
            <!-- 
                .nav-onepage
                Required for onepage navigation links
                
                Add .external for an external link!
              -->
            <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
              <li>
                <!-- HOME -->
                <a href="../../#home"> HOME </a>
              </li>
              <li>
                <!-- SERVICES -->
                <a href="../../#services"> SERVICES </a>
              </li>
              <li>
                <!-- WORK -->
                <a href="../../#portfolio"> PORTFOLIO </a>
              </li>
              <li>
                <!-- NEWS -->
                <a href="../../#news"> NEWS </a>
              </li>
              <li>
                <!-- CLIENTS -->
                <a href="../../#clients"> CLIENTS </a>
              </li>
              <li>
                <!-- CONTACT -->
                <a href="../../#contact"> CONTACT </a>
              </li>
              <% if user_signed_in?%>
                <% if current_user.admin == true || current_user.employee == true%>
                <li>
                  <a class='navbar-link' href="/admin">ADMIN</a>
                </li>
                <%end%>
              <% end %>
              <% if user_signed_in?%>
                <% if current_user.admin == true || current_user.employee == true%>
                <li class="active">
                  <a class='navbar-link' href="/intervention">INTERVENTION</a>
                </li>
                <%end%>
              <% end %>
              <% if user_signed_in? %>
                <li>      
                  <%= link_to 'EDIT PROFILE' , edit_user_registration_path, :class=> 'navbar-link' %>
                </li>                  
                <li> 
                  <%= link_to "LOGOUT" , destroy_user_session_path, method: :delete, :class=> 'navbar-link' %>
                </li>
              <% else %> 
                <li>
                  <%= link_to "LOGIN" , new_user_session_path, :class=> 'navbar-link' %>
                </li>
                <li>
                  <%= link_to "SIGN UP" , new_user_registration_path, :class=> 'navbar-link' %>
                </li> 
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- /Top Nav -->
  </div>

<h1> Create an intervention </h1>
    <%= form_for (@intervention) do |f| %>

      <div class= "field col-md-12">
        <%= f.label :customer_id, "Customers: *" %><br>
        <%= f.collection_select :customer_id, @customers.order(:company_name), :id, :company_name, { prompt: "Select a Customer"}, {} %>
      </div>

      <div class= "field col-md-12">
        <%= f.label :building_id, "Buildings: *" %><br>
        <%= f.grouped_collection_select :building_id, @customers.order(:company_name), :buildings, :company_name, :id, :id, { prompt: "Select a Building"}, {} %>
      </div>

      <div class= "field col-md-12">
        <%= f.label :battery_id, "Battery: *" %><br>
        <%= f.grouped_collection_select :battery_id, @buildings.order(:id), :batteries, :id, :id, :id, {}, {} %>
      </div>

      <div class= "field col-md-12">
        <%= f.label :column_id, "Column: " %><br>
        <%= f.grouped_collection_select :column_id, @batteries.order(:id), :columns, :id, :id, :id, { include_blank: true }, {} %>
      </div>

      <div class= "field col-md-12">
        <%= f.label :elevator_id, "Elevator: " %><br>
        <%= f.grouped_collection_select :elevator_id, @columns.order(:id), :elevators, :id, :id, :id, { include_blnk: true }, {} %>
      </div>

      <div class= "field col-md-12">
        <%= f.label :employee_id, "Employee: " %><br>
        <%= f.collection_select :employee_id, @employees.order(:id), :id, :first_name, { prompt: "Select a Customer"}, {} %>
      </div>

      <div class= "field col-md-12">
        <%= f.label :report, :"Description *" %>
        <%= f.text_area :report, :class=> 'form-control'%>
      </div>

      <%= f.submit  class: 'submits'%>

    <% end %>
</div>
<footer id=footer>
  <div class="copyright">
    <div class="container">
      <ul class="float-right m-0 list-inline mobile-block">
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li>&bull;</li>
        <li><a href="#">Privacy</a></li>
      </ul>
      &copy; All Rights Reserved, Rocket Elevators
    </div>
  </div>
</footer>

<script>
  var plugin_path = "assets/plugins/";
</script>
<script src="assets/plugins/jquery/jquery-3.5.0.min.js"></script>

<script src="assets/js/scripts.js"></script>